<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand me-md-5" href="/">
                <img src="https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/zeus/production/e5b8438b.svg" alt="Logo.svg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="category" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="category">
                            <% categories.forEach( category => { %>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <%= category.name %>
                                </a>
                            </li>
                            <% }) %>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link position-relative" href="/order" >
                            Orders
                            <% if(user_session.id && order_count>0) {%>
                            <span class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-danger">
                                <%= order_count %>
                                <span class="visually-hidden">order waiting</span>
                            </span>
                            <% } %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/review">Reviews</a>
                    </li>
                </ul>
                <div class="d-flex">

                    <% if(user_session.id) { %>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><b><%= user_session.username %></b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/logout">Logout</a>
                            </li>
                            <% if(user_session.asAdmin) {%>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Admin</a>
                                </li>
                            <% } %>
                        </ul>
                    <% } else { %>        
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/login">Login</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/auth/register">Register</a>
                         </li>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-md-4">