<%- include('partials/header') %>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand me-md-5" href="/">
                <img src="https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/zeus/production/e5b8438b.svg" alt="Logo.svg">
            </a>
        </div>
    </nav>

    <div class="container mt-md-4">

<h1>Login Page</h1>

<%- include('partials/footer') %>