<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/login/login_page.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand me-md-5" href="/">
                <img src="https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/zeus/production/e5b8438b.svg" alt="Logo.svg">
            </a>
        </div>
    </nav>

    <div class="container mt-md-4">
        <div class="wrapper">
            <form action="" method="post"></form>
            <div class="text-center mt-3"> <img src="https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/zeus/production/e5b8438b.svg" alt=""> </div>
            <div class="" style="padding-left: 5em; padding-right: 5em;">
                <p class="text-end"><b>Login</b></p>
            </div>
            <div class="mt-3">
                <p id="login-note" class="text-center">Login page Note</p>
                <form class="p-3" action="/login" method="post">
                    <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="username" id="username" placeholder="Username"> </div>
                    <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="password" placeholder="Password"> </div> 
                    <button class="btn mt-3">Login</button>
                </form>
            </div>
            <div class="text-center fs-6"> <a href="#">Forget password?</a> or <a href="#">Sign up</a> </div>
        </div>

<%- include('partials/footer') %>