<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/order/order_main.css">
</head>

<%- include('../partials/navbar') %>

<div class="container">
    <h3 class = 'text-center'>Order List</h3>

    <div class="row justify-content-between mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-3 text-end">
            <a href="/order/create" type="button" class="btn btn-dark btn-sm">Create Order</a>
        </div>
    </div>

    <!-- List -->
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" id='waiting-order-list-tab' href='#'>Waiting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='finish-order-list-tab' href='#'>Finish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='canceled-order-list-tab' href='#'>Canceled</a>
            </li>
          </ul>
    </div>

    <div id='order-list'>
        
    </div>
</div>

<!-- Selected TAB -->
<script type="text/javascript">
    var base_url = window.location.origin;

    //Dipilih waitng-order-tab secara default
    $(document).ready(function () {
        $('#waiting-order-list-tab').addClass('active');
        $.ajax({
            url:base_url + '/order/WAITING',
            beforeSend: function(){
                $("#order-list").html("<div class='row justify-content-center'><div class='col-1 text-center'><div class='loader'></div></div></div>");
            },
            success: function(html){
                $("#order-list").html(html);
            }
        });
    });

    //finish-order-list-tab
    $('#finish-order-list-tab').click(function () {
        $('#finish-order-list-tab').addClass('active');
        $('#waiting-order-list-tab').removeClass('active');
        $('#canceled-order-list-tab').removeClass('active');

        $.ajax({
            url:base_url + '/order/FINISH',
            beforeSend: function(){
                $("#order-list").html("<div class='row justify-content-center'><div class='col-1 text-center'><div class='loader'></div></div></div>");
            },
            success: function(html){
                $("#order-list").html(html);
            }
        });
    })

    //waiting-order-list-tab
    $('#waiting-order-list-tab').click(function () {
        $('#finish-order-list-tab').removeClass('active');
        $('#waiting-order-list-tab').addClass('active');
        $('#canceled-order-list-tab').removeClass('active');

        $.ajax({
            url:base_url + '/order/WAITING',
            beforeSend: function(){
                $("#order-list").html("<div class='row justify-content-center'><div class='col-1 text-center'><div class='loader'></div></div></div>");
            },
            success: function(html){
                $("#order-list").html(html);
            }
        });
    })

    //canceled-order-list-tab
    $('#canceled-order-list-tab').click(function () {
        $('#finish-order-list-tab').removeClass('active');
        $('#waiting-order-list-tab').removeClass('active');
        $('#canceled-order-list-tab').addClass('active');

        $.ajax({
            url:base_url + '/order/CANCELED',
            beforeSend: function(){
                $("#order-list").html("<div class='row justify-content-center'><div class='col-1 text-center'><div class='loader'></div></div></div>");
            },
            success: function(html){
                $("#order-list").html(html);
            }
        });
    })
</script>

<%- include('../partials/footer') %>